
#homepage{
    padding:10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
#homepage-heading{

    padding: 10px;
    border-radius: 15px;
    background-color: #e5e591;
    font-size: 2em;
    color: #053081;
    font-weight: 800;
    width: fit-content;
}
#homepage-curpath{
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    gap: 10px;
    font-size: 20px;
}
#homepage-curpath> span>span:nth-child(2){
    background-color: #c9e8e8;
    border-radius: 10px;
    padding: 5px 5px;
}
#documents-page{
    border-radius: 10px;
    padding: 10px;
    flex: 1 1 auto;
    overflow-y: auto;

}

#documents-folders,#documents-files{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

}
.dropDownDots{
    display:flex;
    border-radius:50%;
    padding:10px;
}
.dropDownDots:active{
    background-color: #b7b3b3;
}
